
[Unit]
Description=hospital-hisca
After=network.target

[Service]
Type=forking
WorkingDirectory=/opt/hisca/
ExecStart=/opt/hisca/servicectl.sh start 1024m
ExecReload=/opt/hisca/servicectl.sh restart 1024m
ExecStop=/opt/hisca/servicectl.sh stop
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
