
[Unit]
Description=hospital-doctor
After=network.target

[Service]
Type=forking
WorkingDirectory=/opt/doctor/
ExecStart=/opt/doctor/servicectl.sh start 1024m
ExecReload=/opt/doctor/servicectl.sh restart 1024m
ExecStop=/opt/doctor/servicectl.sh stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
